.inputUI {
  width: 100%;
  border: 1px solid #08a1c1;
  padding: 4px 16px;
  border-radius: 4px;
  background: #f1f1f1;
  font-size: 14px;
  font-weight: 300;

  &::placeholder {
    color: #343434;
  }

  @include media(900) {
    padding: 14px 16px;
  }
}

.selectUI {
  width: 100%;
  border: 1px solid #08a1c1;
  border-radius: 4px;
  padding: 4px 16px;
  appearance: none;
  background: #f1f1f1;
  background-image: url(@assets/images/icons/selectArrow.svg);
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: center;
  color: #000;

  & option {
    font-size: 18px;
    padding: 10px !important;
    border-radius: none;
    color: #000;
  }

  @include media(900) {
    padding: 14px 16px;
  }
}

.feedback {
  background: #fdfdfd;
  box-shadow: 0px 0px 8px 0px rgba(7, 44, 51, 0.15);
  padding: 75px 0;

  @include media(992) {
    margin-bottom: 100px;
  }

  @include media(768) {
    padding: 20px 16px 40px 16px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media(768) {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__content {
    max-width: 469px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include media(768) {
      align-items: center;
      gap: 10px;
    }

    &-title {
      color: #343434;
      font-size: clamp(1.5rem, 1.125rem + 1.88vw, 3.375rem);
      font-weight: 600;
      line-height: 125%;

      @include media(768) {
        text-align: center;
      }
    }

    &-text {
      color: #707070;
      font-weight: 400;
      line-height: 150%;

      @include media(768) {
        text-align: center;
      }

      & a {
        color: #08a1c1;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-end;

    @include media(768) {
      width: 100%;
      gap: 40px;
    }

    &-wrapper {
      display: flex;
      align-items: center;
      gap: 15px;

      @include media(1110) {
        flex-direction: column;
      }

      @include media(768) {
        width: 100%;
      }
    }

    &-block {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 321px;

      @include media(768) {
        width: 100%;
      }

      & label {
        color: #343434;
        font-size: clamp(0.75rem, 0.725rem + 0.13vw, 0.875rem);
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0.28px;
      }

      & input {
        padding: 16px 8px 16px 16px;

        @include media(768) {
          padding: 8px 8px 8px 16px;
        }
      }
    }

    &-btn {
      color: #fff;
      font-size: clamp(0.75rem, 0.675rem + 0.38vw, 1.125rem);
      font-weight: 500;
      line-height: 120%;
      letter-spacing: -0.36px;
      padding: 8px 16px;
      border-radius: 8px;
      background: #08a1c1;
    }
  }
}

.cardUI {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 4px 16px 0px rgba(30, 30, 30, 0.15);
  width: 100%;
  background: #fff;

  &__wrapper {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 273px;

    & img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }

  &__content {
    padding: 30px;

    &-text {
      display: flex;
      flex-direction: column;
      gap: 15px;

      &-title {
        color: #343434;
        font-size: clamp(1.5rem, 1.425rem + 0.38vw, 1.875rem);
        font-weight: 700;
        line-height: normal;
      }

      &-caption {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &-info {
          display: flex;
          align-items: center;
          gap: 17px;

          & span {
            color: #343434;
            font-size: clamp(0.75rem, 0.725rem + 0.13vw, 0.875rem);
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0.28px;
          }
        }

        & span {
          color: #343434;
          font-size: clamp(0.75rem, 0.725rem + 0.13vw, 0.875rem);
          font-weight: 500;
          line-height: 120%;
          letter-spacing: 0.28px;
        }
      }
    }
  }
}

.careerUI {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 4px 16px 0px rgba(30, 30, 30, 0.15);

  &__wrapper {
    width: 100%;
    height: 100%;

    &-top {
      width: 100%;
      height: 372px;

      &-img {
        width: 100%;
        height: 100%;

        & img {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover;
        }
      }
    }

    &-bottom {
      padding: 30px 40px;

      @include media(992) {
        padding: 15px 30px;
      }

      &-descr {
        color: #343434;
        font-size: clamp(0.75rem, 0.65rem + 0.5vw, 1.25rem);
        font-weight: 400;
        line-height: 130%;
      }
    }
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: #1c1c1c;
  z-index: 10000;

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    -webkit-box-reflect: below 0 linear-gradient(transparent, rgba(255, 255, 255, 0.2));

    & span {
      display: inline-block;
      font-family: "RubikMonoOne";
      color: #fff;
      font-size: 5vw;
      animation: loader 2s infinite calc(0.1s * var(--i));

      @keyframes loader {

        0%,
        40%,
        100% {
          transform: translateY(0);
        }

        20% {
          transform: translateY(-20px);
        }
      }
    }
  }
}

.error {
  background-image: url(@/assets/images/notbg.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include media(992) {
    height: 70vh;
  }

  &__wrapper {
    position: relative;
    padding-top: 50px;

    @include media(992) {
      padding: 20px 15px;
    }
  }

  &__content {
    max-width: 709px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;

    @include media(992) {
      gap: 20px;
      text-align: center;
    }

    &-top {
      display: flex;
      flex-direction: column;
      gap: 50px;

      @include media(992) {
        gap: 40px;
      }

      &-title {
        color: #343434;
        font-size: clamp(1.5rem, 1.125rem + 1.88vw, 3.375rem);
        font-weight: 600;
        line-height: 125%;
      }

      &-subtitle {
        max-width: 546px;
        width: 100%;
        color: #343434;
        font-size: clamp(0.75rem, 0.563rem + 0.94vw, 1.688rem);
        font-weight: 400;
        line-height: 125%;
      }
    }

    &-bottom {
      display: flex;
      flex-direction: column;
      gap: 30px;

      @include media(992) {
        gap: 20px;
        align-items: center;
        justify-content: center;
      }

      &-block {
        max-width: 433px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 5px;

        @include media(992) {
          align-items: flex-start;
          max-width: max-content;
        }

        & span,
        p {
          color: #343434;
          font-size: clamp(0.75rem, 0.675rem + 0.38vw, 1.125rem);
          font-weight: 400;
          line-height: 150%;
          text-align: center;
        }

        & a {
          color: #08a1c1;
          font-size: clamp(0.75rem, 0.675rem + 0.38vw, 1.125rem);
          font-weight: 700;
          line-height: 150%;
          text-decoration-line: underline;
        }
      }
    }
  }

  &__img {
    position: absolute;
    bottom: -5px;
    right: 50px;

    & img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }

    @include media(992) {
      right: 0;
    }
  }
}