.filter {
  border: 1px solid #FFFFFF40;
  background: #FFFFFF;
  min-height: 251px;
  transform: translateY(-50%);
  padding: 15px 36px 36px;
  border-radius: 0px 0px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  box-shadow: 0px 4px 16px 0px #1E1E1E26;



  @include media(992) {
    transform: translateY(0%);
    min-height: unset;
    padding: 10px 15px 50px;
    position: static;
  }

  @include media(930) {
    margin-top: 0;

  }

  &__container {
    @include media(992) {
      padding: 0;
    }
  }

  &__swap {
    display: flex;
    gap: 16px;
    position: absolute;
    top: 0;
    left: -1px;
    transform: translateY(-100%);
    z-index: 100;

    @include media(992) {
      position: static;
      transform: translateY(0);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }


    &_btn {
      border-width: 1px 1px 0px 1px;
      border-style: solid;
      border-color: #08A1C1;
      border-radius: 16px 16px 0px 0px;
      width: 158px;
      height: 38px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;
      box-shadow: 0px -2px 8px 0px #00000026 inset;
      color: #08A1C1;
      transition: 0.3s linear;
      font-size: 18px;
      font-weight: 500;

      @include media(992) {
        width: 100%;
        border: none;
        box-shadow: none;
        border-radius: 0;
        padding: 5px;
        font-size: 18px;
        font-weight: 400;
        background: none;
        color: #5C5C5C;
        border-bottom: 2px solid #D9D9D9;
      }

      &.active {
        background: #08A1C1;
        color: #FFFFFF;

        @include media(992) {
          background: none;
          color: #343434;
          border-bottom-color: #08A1C1;
        }
      }
    }
  }

  &__tabs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;

    @include media(992) {
      display: inline-flex;
      width: 100%;
      overflow-x: scroll;

      &::-webkit-scrollbar {
        display: none;
        /* Для Chrome, Safari и Opera */
      }
    }

    &-btn {
      padding-bottom: 10px;
      border-bottom: 2px solid #D9D9D9;
      transition: 0.3s;

      @include media(992) {
        width: 100%;
        background: #FDFDFD;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 8px 0px #072C3326;
        color: #08A1C1;
        transition: 0.3s linear;
        font-size: 16px;
        font-weight: 400;
        padding: 16px;
      }

      @include media(460) {
        width: auto;
      }

      &.active {

        border-bottom: 2px solid #08A1C1;

        @include media(992) {

          background: #08A1C1;
          color: #fff;
        }

      }
    }
  }

  &__form {


    &-desktop {
      display: flex;
      flex-direction: column;
      gap: 24px;

      @include media(900) {
        display: none;
      }
    }

    &-mob {
      display: none;

      @include media(900) {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
    }

    &-flats-top {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px 15px;

      @include media(900) {
        grid-template-columns: repeat(2, 1fr);

      }

      @include media(576) {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    &-flats-bottom {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 24px 15px;

      @include media(900) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &-commersial-top {
      display: grid;
      gap: 24px;
      grid-template-columns: repeat(2, 1fr);

      @include media(576) {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    &-newbuilding-bottom {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 24px 15px;
    }

    &-commersial-bottom {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 24px 15px;

      & .filter__form-block {
        grid-column: 2 span;

        @include media(576) {
          grid-template-columns: repeat(1, 1fr);
        }
      }

    }

    &-commersial-mob {
      grid-column: 2 span;

      @include media(576) {
        grid-column: 1 span;
      }
    }

    &-house-top {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px 15px;

      @include media(576) {
        grid-template-columns: repeat(1, 1fr);
      }

      & .filter__form-block {
        @include media(576) {
          grid-column: 1 span;
        }
      }
    }

    &-block {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    &-from-to {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5px;
    }

    &-btn {
      align-self: end;

      @include media(1330) {
        font-size: 12px
      }

      @include media(900) {
        padding: 14px 16px;
        font-size: 16px;
      }

    }

    &-checkboxes {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 4px;

      & .hidden-checkbox {
        display: none;
      }

      &-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        width: auto;
        font-size: 14px;
        font-weight: 300;
        width: 100%;
        color: #343434;
        background: #F1F1F1;

        &.active {
          background: #08A1C1;
          color: #fff;
        }

        @include media(900) {
          padding: 14px 16px;
        }
      }
    }
  }
}

.newbuild .filter__form-mob .filter__form-block:nth-child(5) {
  grid-column: 2 span;

  @include media(576) {
    grid-column: auto;

  }
}