.banner {
    height: 417px;
    background: url(@assets/images/bg.png) no-repeat top center /cover;

    @include media(992) {
        display: none;
    }

    &__wrapper {
        padding-top: 90px;
    }

    &__title {
        font-size: clamp(1.875rem, 1.33rem + 2.73vw, 3.375rem);
        font-weight: 600;
        color: #fff;
    }
}